@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body{
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nanum Pen Script";
    min-height: 100vh;
    margin: 0px;
}

@media (min-width : 650px){
    .App{
        width: 640px;
    }
}

@media (max-width : 650px){
    .App{
        width: 90vw;
    }
}

#root{
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

/* MyButton */

.MyButton{
    cursor: pointer;
    border: none;
    border-radius: 5px;

    padding: 10px 20px 10px 20px;

    font-size: 18px;

    white-space: nowrap; /* 버튼 안에 글자가 짤려서 두글자가 안됨 */
    font-family: "Nanum Pen Script";
}

.MyButton_default{
    background-color: #ececec;
    color: black;
}

.MyButton_positive{
    background-color: #64c964;
    color: #ffffff;
}

.MyButton_negative{
    background-color: #fd565f;
    color: #ffffff;
}

/* Header */

header{
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
    justify-content: center;
}

header > div{
    display: flex;
}

header .head_text{
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

/* DiaryList */
.DiaryList .menu_wrapper{
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .right_cal{
    flex-grow: 1;
}

.DiaryList .menu_wrapper .right_cal button{
    width: 100%;
}

.DiaryList .ControlMenu{
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ECECEC;

    padding: 10px 20px 10px 20px;
    font-family: "Nanum Pen Script";
    font-size: 18px;
}

/* DiaryItem */
.DiaryItem{
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid #e2e2e2;

    display: flex;
    justify-content: space-between;
}

.DiaryItem .emotion_img_wrapper{
    cursor: pointer;
    min-width: 120px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.DiaryItem .emotion_img_wrapper_1{
    background-color: #ff3817;
}

.DiaryItem .emotion_img_wrapper_2{
    background-color: #fe7c1a;
}

.DiaryItem .emotion_img_wrapper_3{
    background-color: #fed41d;
}

.DiaryItem .emotion_img_wrapper_4{
    background-color: #a1de3b;
}

.DiaryItem .emotion_img_wrapper_5{
    background-color: #23b526;
}

.DiaryItem .emotion_img_wrapper img{
    width: 50%;
}

.DiaryItem .info_wrapper{
    cursor: pointer;
    flex-grow: 1;
    margin-left: 20px;
}

.DiaryItem .diary_date{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

.DiaryItem .diary_content_preview{
    font-size: 18px;
}

.DiaryItem .btn_wrapper{
    min-width: 70px;
}